{% extends 'base.html' %}

{% block content %}
<div class="my-10">
  <div>
    <h1 class="md:text-4xl text-2xl" style="color:#012169">{% block title %}
        Admin Page {% endblock %}
    </h1>
  </div>

<br>
<h4 class="md:text-2xl text-xl font-semibold mb-4" style="color:#012169">Hidden Recordings</h4>
<hr class="">
<div class="grid grid-cols-5 my-2 px-2 text-blue-900 rounded-md font-semibold">
  <div class="col-span-1 flex flex-row">
    <div class="bi bi-calendar-event mr-2"></div>
    <div>DATE</div></div>
    <div class="col-span-1 flex flex-row">
      <div class="bi bi-type mr-2"></div>
      <div>TOPIC</div></div>
      <div class="col-span-2 flex flex-row">
        <div class="bi bi-type mr-2"></div>
        <div>SUMMARY</div></div>
      <div class="col-span-1 flex flex-row">
        <div class="bi bi-tags mr-2"></div>
        <div>TAGS</div></div>
        
</div>
<hr class="">
    {% for recording in hiddenRecordings %}
    <div class="grid grid-cols-5 my-2 p-2 rounded border border-gray-800 shadow-sm hover:shadow-lg hover:bg-gray-50">
      <div class="col-span-1 ">{{recording[3]}}</div>
      <div class="col-span-1 font-semibold">
        <a href="{{ url_for('recording', recording_id=recording[0]) }}">
          <div class="flex flex-row items-center hover:text-blue-600">
            <div class=" underline">{{recording[2]}}</div>
            <button
              class="ml-3 hover:border bg-white hover:shadow hover:border-gray-600 rounded-lg p-1 hover:border hover:border-gray-100">
              <div class="flex flex-row items-center text-gray-400">
                <div><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="none">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M3 8V4m0 0h4M3 4l4 4m8 0V4m0 0h-4m4 0l-4 4m-8 4v4m0 0h4m-4 0l4-4m8 4l-4-4m4 4v-4m0 4h-4" />
                  </svg></div>
                <div class="text-xs">VIEW</div>
              </div>
            </button>
          </div>
        </a>
      </div>
      <div class="col-span-2 mx-2">
        {{recording[7]}}
      </div>
      <div class="col-span-1 grid grid-cols-10">
        <div class="col-span-9">
    
          {% for tag, value in recording[9] | dictsort(false, 'value', reverse=true) %}
          {% if recording[9][tag] <= -3 %} <a href="{{ url_for('indexTagFilter', tag=tag) }}">
            <span class="badge text-blue-400 bg-blue-50 hover:bg-blue-400 hover:text-white">{{ tag }}</span></a>
            {% elif recording[9][tag] >= 3 %}
            <a href="{{ url_for('indexTagFilter', tag=tag) }}">
              <span class="badge text-blue-400 bg-blue-200 hover:bg-blue-400 hover:text-white">{{ tag }}</span></a>
            {% else %}
            <a href="{{ url_for('indexTagFilter', tag=tag) }}">
              <span class="badge text-blue-400 bg-blue-100 hover:bg-blue-400 hover:text-white">{{ tag }}</span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-span-1 justify-self-end">
          <button 
            class="ml-3 hover:border bg-white hover:shadow hover:border-gray-600 rounded-lg p-1 hover:border hover:border-gray-100 text-gray-400 hover:text-blue-600">
            <a href="{{ url_for('show', recording_id=recording[0]) }}">        
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
              </svg>
    </a>
    </button>
        </div>
      </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
