{% extends 'base.html' %}

{% block content %}
    <h1 class="py-5">{% block title %} Recordings for CLASS NAME {% endblock %}</h1> 
    <button><a href="{{ url_for('card')}}">
      Card view
    </a>
    </button>
    <button><a href="{{ url_for('index')}}">
      Table view
    </a>
    </button>
           
<!-- 
<h1 class="text-center text-3xl">CARD EXAMPLE 1</h1>
<div class="card-deck mt-6 grid grid-cols-2 md:grid-cols-3 gap-6">
  {% for recording in recordings %}
  <div class="card mb-3 max-w-md">
    <div class="card-header bg-light">
      <div class="self-start">
        {{ recording[3] }}
        <a href="{{ url_for('edit', recording_id=recording[0]) }}">
          <span class="fa fa-edit td-edit"></span>
        </a>
    </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-2xl"><a href="{{ url_for('recording', recording_id=recording[0]) }}">{{ recording[2] }}</a></h5>
      <p class="card-text">
        {{ recording[7] }}
      </p>
    </div>
    <div class="card-footer bg-transparent"> Tags: 
      {% for tag in recording[9] %}
      <span class="badge bg-primary">{{ tag }}</span>
    {% endfor %}</div>
  </div>
  {% endfor %}
</div> -->

<div class="card-deck mt-6 grid grid-cols-2 md:grid-cols-3 gap-6">
  {% for recording in recordings %}
  <div class="card mb-3 max-w-md">
  
    <div class="card-body">
      <h5 class="card-title text-2xl"> <a href="{{ url_for('recording', recording_id=recording[0]) }}">{{ recording[2] }}</a></h5>
      <div class="bg-transparent"> Tags: 
        {% for tag in recording[9] %}
        {% if recording[9][tag] <= -3 %}
          <span class="badge bg-danger">{{ tag }}</span>
        {% elif recording[9][tag] >= 3 %}
          <span class="badge bg-success">{{ tag }}</span>
        {% else %}
          <span class="badge bg-primary">{{ tag }}</span>
        {% endif %}
      {% endfor %}</div>
    </div>
      <div class="card-footer bg-transparent">
        <div class="self-start">
          {{ recording[3] }}
          <a href="{{ url_for('edit', recording_id=recording[0]) }}">
            <span class="fa fa-edit td-edit"></span>
          </a>
      </div>
      </div>
    </div>
    
    
  {% endfor %}
</div>
{% endblock %}
