{% extends 'base.html' %}

{% block content %}

<div class="my-10">

  <div class="my-10">
    <h1 style="display:none;">{% block title %} Add Recording {% endblock %}</h1>
    <h1 class="md:text-4xl text-2xl" style="color:#012169">Create a New Recording </h1>
    <!-- <p class="my-4 md:text-xl">Create a new recording using video url</p> -->
  </div>


  <form method="post">
    <div class="form-group my-4">
      <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
      <div class="mt-1">
        <input type="text" name="title" class="form-control rounded-md" placeholder="Recording title"
          value="{{ request.form['title']}}" />
      </div>
    </div>

    <div class="form-group my-2">
      <label for="recordingURL" class="block text-sm font-medium text-gray-700">Recording URL</label>
      <div class="mt-1">
        <textarea name="recordingURL" placeholder="Video URL"
          class="form-control rounded-md">{{ request.form[recordingURL] }}</textarea>
      </div>
    </div>

    <div class="form-group my-4">
      <label for="tags" class="block text-sm font-medium text-gray-700">Tags</label>
      <div class="mt-1">
        <input id="tags" name="tags" value="{{ request.form['tags'] }}" data-role="tagsinput" type="text"
          placeholder="Add tags" class="form-control" />
      </div>
    </div>

    <div class="form-group my-4">
      <label for="summary" class="block text-sm font-medium text-gray-700">Summary</label>
      <div class="mt-1">
        <textarea name="summary" placeholder="Brief summary" rows="3"
          class="form-control rounded-md">{{ request.form['summary'] }}</textarea>
      </div>
    </div>

    <div class="form-group my-2">
      <label for="notes" class="block text-sm font-medium text-gray-700">Video Notes (each note on new line)</label>
      <div class="mt-1">
        <textarea name="notes" placeholder="Video notes" rows="3"
          class="form-control rounded-md">{{ request.form['notes'] }}</textarea>
      </div>
    </div>

    <div class="form-group py-2">
      <label for="transcription">Transcription</label>
      <textarea name="transcription" placeholder="Transcription" rows="10"
        class="form-control">{{ request.form['transcription'] }}</textarea>
    </div>


    <br />
    <div class="flex flex-row items-center">
      <div class="flex flex-row items-center my-4">
        <div class="form-group py-2 mr-4">
          <button type="submit"
            class="btn border border-2 py-2 border-blue-500 rounded-lg text-white hover:bg-blue-700 bg-blue-900 px-12">Save</button>
        </div>
        <div class="mr-4">
          <button class=" btn border border-2 px-4 py-2 rounded-lg bg-white "><a href="{{ url_for('index') }}">
              Cancel
            </a>
          </button>
        </div>

      </div>
    </div>
  </form>
</div>
{% endblock %}