{% extends 'base.html' %}

{% block content %}

<script>
  // embed Youtube video
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubeIframeAPIReady(link) {
    newID = link.replace("https://youtu.be/", "")
    if (newID) {
      player = new YT.Player('player', {
        height: '390',
        width: '640',
        videoId: newID,
        playerVars: {
          'playsinline': 1
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, 6000);
      done = true;
    }
  }

  function stopVideo() {
    player.stopVideo();
  }

  // embed non-Youtube videos
  function SetSrc() {
    document.getElementById("myIfreme").src = document.getElementById("txtSRC").value;
    document.getElementById("myIfreme").style.display = "inline";
  }
</script>

<div class="my-10">

  <div class="my-10">
    <h1 style="display:none;">{% block title %} Edit Page {% endblock %}</h1>
    <h1 class="md:text-4xl text-2xl" style="color:#012169"> Edit <span class="font-bold">"{{
        recording[2] }}"</span> Details </h1>
    <p class="my-4 md:text-xl">Make edits to title, tags, or summary. All changes tracked by admin.</p>
  </div>


  <form method="post">
    <div class="form-group my-4">
      <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
      <div class="mt-1">
        <input type="text" name="title" class="form-control rounded-md" placeholder="Post Title"
          value="{{ request.form['title'] or recording[2] }}" />
      </div>
    </div>

    <div class="form-group my-4">
      <label for="tags" class="block text-sm font-medium text-gray-700">Tags</label>
      <div class="mt-1">
        <input id="tags" name="tags" value="{{ request.form['tags'] or " , ".join(recording[9]) }}"
          data-role="tagsinput" type="text" placeholder="Add tags" class="form-control" />
      </div>
    </div>

    <div class="form-group my-4">
      <label for="summary" class="block text-sm font-medium text-gray-700">Summary</label>
      <div class="mt-1">
        <textarea name="summary" placeholder="Brief summary" rows="3"
          class="form-control rounded-md">{{ request.form['summary'] or recording[7] }}</textarea>
      </div>
    </div>

    <div class="form-group my-2">
      <label for="notes" class="block text-sm font-medium text-gray-700">Notes (visible to all)- start each note on a
        new line</label>
      <div class="mt-1">
        <textarea name="notes" placeholder="Video notes" rows="3"
          class="form-control rounded-md">{{ request.form['notes'] or "\n".join(recording[12]) }}</textarea>
      </div>
    </div>

    <!-- <div class="form-group py-2">
      <label for="transcription">Transcription</label>
      <textarea name="transcription" placeholder="Transcription" rows="10"
                class="form-control">{{ request.form['transcription'] or recording[6] }}</textarea>
  </div> -->
    <br /><br />
    {% if permission %}
    <div id="vidembed">
      <p style="text-decoration:underline; font-size:20px"> Embed Videos Below</p><br />
      <div class="form-group py-2">
        <label for="yvidurl">Enter Youtube video link (starting with https://youtu.be/): </label>
        <div class="mt-1">
          <input type="text" name="yvidurl" class="form-control rounded-md" id="txtsource"
            placeholder="Enter link here:" value="" />
        </div>
        <input type="button" value="Save URL"
          onclick="onYouTubeIframeAPIReady(document.getElementById('txtsource').value)"></input>
      </div>
      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player"></div>
      <br />

      <div class="form-group py-2">
        <label for="vidurl">Enter Non-YouTube video link: </label>
        <div class="mt-1">
          <input type="text" name="vidurl" class="form-control rounded-md" id="txtSRC" placeholder="Enter link here:"
            value="" />
        </div>
        <input type="button" value="Save URL" onclick="SetSrc();"></input>
      </div>
      <iframe id="myIfreme" class="embedvideo" src="" frameborder="0" marginwidth="0"
        referrerpolicy="origin-when-cross-origin" scrolling="yes"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""
        style="display:none; width:640px; height: 400px;"></iframe>
    </div>
    {% endif %}

    <div class="flex flex-row items-center">
      <div class="flex flex-row items-center my-4">
        <div class="form-group py-2 mr-4">
          <button type="submit"
            class="btn border border-2 py-2 border-blue-500 rounded-lg text-white hover:bg-blue-700 bg-blue-900 px-12">Save</button>
        </div>
        <div class="mr-4">
          <button class=" btn border border-2 px-4 py-2 rounded-lg bg-white "><a
              href="{{ url_for('recording', recording_id=recording[0]) }}">
              Cancel
            </a>
          </button>
        </div>
        {% if permission %}
        {% if recording[1] %}
        <div class="mr-4 ">
          <button class="btn border border-2 hover:border-red-500 px-4 py-2 rounded-lg bg-white "><a
              href="{{ url_for('hide', recording_id=recording[0]) }}">Hide</a></button>
        </div>
        {% else %}
        <div class=" mr-4">
          <button class="btn border border-2 hover:border-red-500 px-4 py-2 rounded-lg bg-white "><a
              href="{{ url_for('show', recording_id=recording[0]) }}">Show</a></button>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </form>
</div>
{% endblock %}