{% extends 'base.html' %}

{% block content %}
    <h1 class="py-5">{% block title %} Recordings for CLASS NAME {% endblock %}</h1> 

    <style>
      .view {
                color: rgb(100, 100, 100);
                text-decoration: none;
                border-radius: 1.3rem;
                border-color: #f0f0f0;
                box-shadow: 10px 10px 16px 0 #dbdbdb , 
                        -8px -8px 12px 0 #fdfdfd ;
            }
    </style>
    <button><a href="{{ url_for('card')}}" class="view">
      Card view
    </a>
    </button>
    <button><a href="{{ url_for('index')}}" class="view">
      Table view
    </a>
    </button>

    <br/>
    <br/>
           
    <table id="table_id" class="recordings table table-hover table-striped py-2">
      <thead>
        <tr>
          <th class="col-date">Date</th>
          <th class="col-title no-sort">Recording</th>
          <th class="col-tags no-sort">Tags</th>
          <th class="col-summary no-sort">Summary</th>
          <th class="col-edit no-sort"></th>
        </tr>
      </thead>
      <tbody>
        {% for recording in recordings %}
                  <tr>
                    <td>{{ recording[3] }}</td>
                    <td><a href="{{ url_for('recording', recording_id=recording[0]) }}">{{ recording[2] }}</a></td>
                    <!-- <td>{{ ", ".join(recording[8]) }}</td> -->
                    <td>
                      {% for tag in recording[9] %}
                        {% if recording[9][tag] <= -3 %}
                          <span class="badge bg-danger">{{ tag }}</span>
                        {% elif recording[9][tag] >= 3 %}
                          <span class="badge bg-success">{{ tag }}</span>
                        {% else %}
                          <span class="badge bg-primary">{{ tag }}</span>
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td>{{ recording[7] }}</td>
                    <td>
                      <a href="{{ url_for('edit', recording_id=recording[0]) }}">
                        <span class="fa fa-edit td-edit"></span>
                      </a>
                    </td>
    
        </tr>
        {% endfor %}
      </tbody>
    </table>
    

<!-- 
<h1 class="text-center text-3xl">CARD EXAMPLE 1</h1>
<div class="card-deck mt-6 grid grid-cols-2 md:grid-cols-3 gap-6">
  {% for recording in recordings %}
  <div class="card mb-3 max-w-md">
    <div class="card-header bg-light">
      <div class="self-start">
        {{ recording[3] }}
        <a href="{{ url_for('edit', recording_id=recording[0]) }}">
          <span class="fa fa-edit td-edit"></span>
        </a>
    </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-2xl"><a href="{{ url_for('recording', recording_id=recording[0]) }}">{{ recording[2] }}</a></h5>
      <p class="card-text">
        {{ recording[7] }}
      </p>
    </div>
    <div class="card-footer bg-transparent"> Tags: 
      {% for tag in recording[9] %}
      <span class="badge bg-primary">{{ tag }}</span>
    {% endfor %}</div>
  </div>
  {% endfor %}
</div> -->

<!-- <h1 class="text-center text-3xl">CARD EXAMPLE 2</h1>
<div class="card-deck mt-6 grid grid-cols-2 md:grid-cols-3 gap-6">
  {% for recording in recordings %}
  <div class="card mb-3 max-w-md">
  
    <div class="card-body">
      <h5 class="card-title text-2xl"> <a href="{{ url_for('recording', recording_id=recording[0]) }}">{{ recording[2] }}</a></h5>
      <div class="bg-transparent"> Tags: 
        {% for tag in recording[9] %}
        <span class="badge bg-primary">{{ tag }}</span>
      {% endfor %}</div>
    </div>
      <div class="card-footer bg-transparent">
        <div class="self-start">
          {{ recording[3] }}
          <a href="{{ url_for('edit', recording_id=recording[0]) }}">
            <span class="fa fa-edit td-edit"></span>
          </a>
      </div>
      </div>
    </div>
    
    
  {% endfor %}
</div> -->
{% endblock %}
