{% extends 'base.html' %}

{% block content %}
    <h1 class="py-5">{% block title %} Recordings for CLASS NAME {% endblock %}</h1> 
      <table id="table_id" class="recordings table table-hover table-striped py-2">
        <thead>
          <tr>
            <th class="col-date">Date</th>
            <th class="col-recording no-sort">Recording</th>
            <th class="col-tags no-sort">Tags</th>
            <th class="col-summary no-sort">Summary</th>
            <th class="col-edit no-sort"></th> <!-- Edit -->
          </tr>
        </thead>
        <tbody>
    {% for post in posts %} <!-- to reverse use `for post in posts|reverse` -->
              <tr>
                <td>{{ post['created'] }}</td>
                <td><a href="{{ post['recordingURL'] }}">{{ post['title'] }}</a></td>
                <td>{{ post['tags'] }}</td>
                <td>{{ post['summary'] }}</td>
                <td>
                  <a href="{{ url_for('edit', id=post['id']) }}">
                    <!-- <button type="button" class="btn btn-primary btn-sm">Edit</button> -->
                    <span class="fa fa-edit"></span>
                  </a>
                </td>
              </tr>
    {% endfor %}
        </tbody>
      </table>
{% endblock %}