{% extends 'base.html' %}

{% block content %}
    <h1 class="py-5">{% block title %} Recordings for CLASS NAME {% endblock %}</h1> 
      <table id="table_id" class="recordings table table-hover table-striped py-2">
        <thead>
          <tr>
            <th class="col-date">Date</th>
            <th class="col-ttitle no-sort">Recording</th>
            <th class="col-summary no-sort">Summary</th>
            <th class="col-edit no-sort"></th>
          </tr>
        </thead>
        <tbody>
    {% for recording in recordings %}
              <tr>
                <td>{{ recording[2] }}</td>
                <td><a href="{{ url_for('recording', recording_id=recording[0]) }}">{{ recording[1] }}</a></td>
                <td>{{ recording[6] }}</td>
                <td>
                  <a href="{{ url_for('edit', recording_id=recording[0]) }}">
                    <span class="fa fa-edit td-edit"></span>
                  </a>
                </td>

              </tr>
    {% endfor %}
        </tbody>
      </table>
{% endblock %}