{% extends 'base.html' %}

{% block content %}

<div class="my-10">
  <form>
    <div class="flex flex-row">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      <input type="button" class="bg-transparent" value="Back" onclick="history.back()">
    </div>
  </form>

  <ul class="list-group list-group-flush my-10">
    <li class="list-group-item  md:text-4xl text-2xl" style="color:#012169">{% block title
      %} Details for <span class="font-bold">{{ recording[2] }} </span>{% endblock %}
      <button
        class="justify-self-end hover:border bg-white hover:shadow hover:bg-blue-50 hover:border-gray-600 rounded-lg hover:border hover:border-gray-100 text-gray-400 hover:text-blue-600">
        <a href="{{ url_for('edit', recording_id=recording[0]) }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>
        </a>
      </button>
    </li>
    <li class="list-group-item items-center"><span class="font-bold" style="color:#012169">Date:</span> {{ recording[3]
      }}</li>
    <li class="list-group-item"><span class="font-bold" style="color:#012169">Summary:</span> {{ recording[7] }}</li>
    <li class="list-group-item">
      <span class="font-bold">
        <div class="flex flex-row items-center overflow-x-auto">
          <div class="mr-2" style="color:#012169">
            Tags:
          </div>
      </span>
      {% for tag, value in recording[9] | dictsort(false, 'value', reverse=true) %}
      {% if value <= -3 %} <span
        class="badge text-blue-400 bg-blue-100 hover:bg-blue-400 hover:text-white recording-tag">{{ tag }}</span>
        {% elif value >= 3 %}
        <span class="badge text-blue-400 bg-blue-100 hover:bg-blue-400 hover:text-white recording-tag">{{ tag }}</span>
        {% else %}
        <span class="badge text-blue-400 bg-blue-100 hover:bg-blue-400 hover:text-white recording-tag">{{ tag }}</span>
        {% endif %}
        <a class="bi bi-arrow-up text-gray-400 hover:text-gray-900 voting mx-2"
          href="{{ url_for('upvote_tag', id=recording[0], tag=tag) }}"></a>
        {{ value }}
        <a class="bi bi-arrow-down text-gray-400 hover:text-gray-900 voting mx-2 pr-4"
          href="{{ url_for('downvote_tag', id=recording[0], tag=tag) }}"></a>
        <br>
        {% endfor %}
</div>

{% if 'https://www.youtube.com/embed/' in recording[4] %}
<li class="list-group-item"><iframe src="{{ recording[4] }}" height="500px" width=100% title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></li>
{% else %}
<li class="list-group-item"><iframe src="{{ recording[4] }}" height="500px" width=100% title="Embedded Zoom Recording"
    allowfullscreen="allowfullscreen"></iframe></li>
{% endif %}
</ul>
</div>

{% endblock %}