{% extends 'base.html' %}

{% block content %}
<h2 class="py-5">{% block title %} {{ recording[2] }} {% endblock %}</h2>
<div class="individualTable">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th class="col-tags-small">Tags</th>
        <th>Summary</th>
        <th class="col-edit"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Not display info in a table? -->
      <tr>
        <td>{{ recording[3] }}</td>
        <td>
          {% for tag in recording[9] %}
            {% if recording[9][tag] <= -3 %}
              <span class="badge bg-danger recording-tag">{{ tag }}</span>
            {% elif recording[9][tag] >= 3 %}
              <span class="badge bg-success recording-tag">{{ tag }}</span>
            {% else %}
              <span class="badge bg-primary recording-tag">{{ tag }}</span>
            {% endif %}
            <a href="{{ url_for('upvote_tag', id=recording[0], tag=tag) }}" class="fa fa-arrow-up voting"></a>
            <!-- <i class="fa fa-arrow-up voting" id="upvote-btn" data-zoomid="{{ recording[10] }}" data-tag="{{ tag }}"></i> -->
            {{ recording[9][tag] }}
            <!-- <i class="fa fa-arrow-down voting" id="downvote-btn" data-recording_id="{{ recording[0] }}" data-tag="{{ tag }}"></i> -->
            <a href="{{ url_for('downvote_tag', id=recording[0], tag=tag) }}" class="fa fa-arrow-down voting"></a>
            <br>
          {% endfor %}
        </td>
        <td>{{ recording[7] }}</td>
        <td><a href="{{ url_for('edit', recording_id=recording[0]) }}">
            <span class="fa fa-edit td-edit"></span>
          </a></td>
      </tr>
    </tbody>
  </table>
</div>
<iframe src="{{ recording[4] }}" height="500px" width=100% title="Embedded Zoom Recording"
  allowfullscreen="allowfullscreen"></iframe>
{% endblock %}