{% extends 'base.html' %}

{% block content %}
    <h2 class="py-5">{% block title %} {{ post['title'] }} {% endblock %}</h2>
    <div class="individualTable">
      <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <!-- <th>Link to Recording</th> -->
              <th>Tags</th>
              <th>Summary</th>
              <!-- <th>Transcription</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ post['created'] }}</td>
              <!-- <td><a href="{{ post['recordingURL'] }}">{{ post['title'] }}</a></td> -->
              <td>{{ post['tags'] }}</td>
              <td>{{ post['summary'] }}</td>
              <!-- <td>{{ post['transcription'] }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    <iframe src="{{ post['recordingURL'] }}" height="500px" width=100% title="Embedded Zoom Recording" allowfullscreen="allowfullscreen"></iframe>
{% endblock %}