/* navbar background */
.navbar {
    background-color: #272B84 !important;
}

/* link behavior */
table a {
    text-decoration: none;
}
table a:hover {
    text-decoration: underline;
}

/* index.html table styles */
th {
    border-top: 1px solid #ddd;
}
.recordings {
    table-layout: fixed;
    width: 100%;
    /* border-top: 1px solid #ddd; */
}
/* Column widths are based on these cells */
.col-date {
    width: 10%;
}
.col-recording {
    width: 16%;
}
.col-tags {
    width: 16%;
}
.col-summary {
    width: 47%;
}
.col-edit {
    width: 6%;
}