/* navbar background */
.navbar {
    background-color: #272B84 !important;
}

/* link behavior */
table a {
    text-decoration: none;
}
table a:hover {
    text-decoration: underline;
}

/* index.html table styles */
table {
    width: 100%;
}
th {
    border-top: 1px solid #ddd;
}
.individualTable {
    display: inline-block;
    /* overflow-y: scroll; */
    max-height:500px;
}
.recordings {
    table-layout: fixed;
}
/* Column widths are based on these cells */
/* .col-date {
    width: 10%;
}
.col-recording {
    width: 16%;
} */
.col-tags {
    width: 26%;
}
.col-summary {
    width: 37%;
}
.col-edit {
    width: 6%;
}
.td-edit {
    float: right;
}